/*regal-parallax elements*/
.regal-parallax{
	position:relative;
	overflow:hidden;
}
.regal-parallax-item{
	position:absolute;
}
/* that's all folks, the rest is in your hands!*/



/*regal-parallax for this specific example */
.section{
	background:#000 url(../img/lights-1-bg.jpg) no-repeat 100% 0;
	padding:0;
	border-bottom:10px solid #0d0d0d;
	width:450px;
	min-height:429px;
	margin-right:10px;
	float:left;
}
.bigger{
	background:#000 url(../img/lights-2-bg.jpg) no-repeat 100% 0;
	padding:0;
	border-bottom:10px solid #0d0d0d;
}

/* regal-parallax-item elements for this specific example */
.bulle{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	/* IE 5-7 */
	filter: alpha(opacity=20);
	/* Netscape */
	-moz-opacity: 0.2;
	/* Safari 1.x */
	-khtml-opacity: 0.2;
	/* Good browsers */
	opacity: 0.2;
	background:transparent url(../img/article-rond.png) no-repeat 0 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
.bulle-1{
	width:129px; height:128px;
}
.bulle-2{
	width:180px; height:178px;
}
.bulle-3{
	width:100px; height:100px;
}
.bulle-4{
	width:50px; height:50px;
}

.bouge{
	transition: all 0.6s ease-out;
}
.bouge2{
	transition: all 0.8s ease-out;
}
.bouge3{
	transition: all 0.8s cubic-bezier(.5,1.9,.5,1);
}




/*  styles for this demo */
ul{
	list-style:none;
}
a{
	text-decoration:underline;
	color:#fff;
}
a:hover{
	text-decoration:none;
	color:#fff;
}
h1, h2{
	font-weight:normal;
	color:#fff;
}
body{
	background:#0d0d0d;
	font-family: 'Lobster', cursive;
	font-size:2em;
	text-align:center;
}
.notes{
	width:920px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.notes h2{
	font-weight:bold;
	margin:20px 0 0 0;
}
.notes p{
	margin:0 0 20px 0;
}
#main { 
	width:920px;
	margin:auto;
	padding:20px 0;
	color:#bfaf92;
}
#main img { 
	display:block; 
}

/**
 * Easy clearing method (do not work in IE)
 * @section		clearing
 */

#main .section:after,
.articles:after {
	display:block; clear:both;
	visibility:hidden;
	height:0;
	content:".";
}